{layout '@layout.latte'}

{block content}
    <div class="page-header">
        <h1>Switch.tv Users</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered dataTable hover">
            <thead class="no-border">
            <tr>
                {foreach $columnsToShow as $column}
                    <th class="sorting {if (isset($sorting['sort_by']) && $sorting['sort_by'] == $column)}
                    active
                    {if isset($sorting['sort_direction']) }
                        {if $sorting['sort_direction'] == 'ASC'}
                            sorting_asc
                        {else}
                            sorting_desc
                        {/if}
                    {/if}
                    {/if}">
                        <strong>
                            <a href="
                                {$sortingHelper->getSortingUrl($baseUrl, $filter, $paginator->getActualPage(), $column, $sorting)}
                            ">
                                {$column}
                            </a>
                        </strong>
                    </th>
                {/foreach}

                <th>Actions</th>
            </tr>

            <tr>
                <form method="get">
                    {foreach $columnsToShow as $column}
                        <th>
                            <input type="text" name="{$column}" value="{ifset $filter[$column]}{$filter[$column]}{/ifset}" autocomplete="off" class="form-control">
                        </th>
                    {/foreach}

                    <th class="action-header">
                        <input type="submit" value="Filter" class="btn btn-default btn-xs"> <a type="button" class="btn btn-default btn-xs" href="{$baseUrl}">Reset</a>
                    </th>

                </form>
            </tr>

            </thead>
            <tbody class="no-border-y">
            {foreach $users as $userData}
                <tr>
                    {foreach $userData as $columnName => $columnContent}
                        {if $columnName !== 'id'}
                            <td>
                                {$columnContent}
                            </td>
                        {/if}
                    {/foreach}

                    <td class="center auto-actions">
                        <a type="button" class="btn btn-primary btn-rad btn-xs showDetails" data-userid="{$userData->id}">
                            Details
                        </a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
        <nav>
            {if $pagesCount}
                <ul class="pagination">
                    <li class="{if $paginator->isFirst()}disabled{/if}">
                        <a {if !$paginator->isFirst()}href="{$paginator->getPaginatorUrl($baseUrl, $actualUrl, 'prev')}"{/if}>
                            &laquo;
                        </a>
                    </li>

                    {for $i = 1; $i <= $pagesCount; $i++}
                        <li class="{if $paginator->isActualPage($i)}active{/if}"><a href="{$paginator->getPaginatorUrl($baseUrl, $actualUrl, 'next', $i)}">{$i}</a></li>
                    {/for}

                    <li class="{if $paginator->isLast()}disabled{/if}">
                        <a {if !$paginator->isLast()}href="{$paginator->getPaginatorUrl($baseUrl, $actualUrl, 'next')}"{/if}>&raquo;</a>
                    </li>
                </ul>
            {/if}
        </nav>
    </div>
    {include #modal}
    {include #errorModal}
{/block}

{block head}
    <link rel="stylesheet" href="www/css/bootstrap-datatables.css"/>
    <link rel="stylesheet" href="www/css/datatable.css"/>
{/block}

{block modal}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Details for User: <span class="userDataFirstName"></span> <span class="userDataLastName"></span></h4>
                </div>
                <div class="modal-body">
                    <b>Name:</b> <span class="userDataFirstName"></span> <span class="userDataLastName"></span> <br/>
                    <b>Email:</b> <span class="userDataEmail"></span> <br/>
                    <b>Role:</b> <span class="userDataRole"></span> <br/>
                    <b>Department:</b> <span class="userDataDepartment"></span> <br/>
                    <b>Age:</b> <span class="userDataAge"></span> <br/>
                    <b>Address:</b> <span class="userDataAddress"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{/block}

{block errorModal}
    <!-- Modal -->
    <div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Oh snap!</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger msgSpot" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{/block}

{block scripts}
    <script type="text/javascript">
        var fillModal = function(email, firstName, lastName, department, role, age, address) {

            $('.userDataFirstName').text(firstName);
            $('.userDataLastName').text(lastName);
            $('.userDataEmail').text(email);
            $('.userDataRole').text(role);
            $('.userDataDepartment').text(department);
            $('.userDataAge').text(age);
            $('.userDataAddress').text(address);

            $('#myModal').modal('show');
        };

        var showErrorModal = function(msg) {
            $('.msgSpot').text(msg);
            $('#myErrorModal').modal('show');
        };

        $(document).ready(function() {
            $('.showDetails').on('click', function() {
                var userId = $(this).data('userid');

                $xhr = $.get( {$baseUrl}, { action: 'getUserInfo', userid: userId } );

                $xhr.done(function( data ) {

                    try {
                        var userData = $.parseJSON(data);
                    } catch (e) {
                        showErrorModal("Parsing Response Error.");
                        return;
                    }

                    if(userData.status === 'fail') {
                        showErrorModal(userData.msg);
                        return;
                    }

                    fillModal(
                            userData.email,
                            userData.first_name,
                            userData.last_name,
                            userData.department,
                            userData.role,
                            userData.age,
                            userData.address
                    );
                });

                $xhr.fail(function( data ) {
                    console.log(data);
                });
            });
        });
    </script>
{/block}